<%= form_with(model: rating, class: "d-flex flex-column align-items-center") do |form| %>
  <% if rating.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rating.errors.count, "error") %> foram encontrados:</h2>

      <ul>
        <% rating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :lesson_id, "Atividade", style: "display: block" %>
    <%= collection_select(:rating, :lesson_id, Lesson.where(:subject_id => current_user.subjects), :id, :title, {:prompt => 'Selecione'} ) %>
  </div>

  <div class="mb-3">
    <%= form.label :student_id, "Estudante", style: "display: block" %>
    <%= collection_select(:rating, :student_id, Student.where(:classroom_id => current_user.classrooms), :id, :name, {:prompt => 'Selecione'} ) %>
  </div>

  <div class="my-3">
    <%= form.label :grade, "Nota", style: "display: block" %>
    <%= form.text_field :grade, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Descrição", style: "display: block" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit id:"submit", class: "btn btn-orange" %>
  </div>
<% end %>
