<%= form_with(model: subject, class: "d-flex flex-column align-items-center") do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> foram encontrados:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nome", style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :year,"Ano", style: "display: block" %>
    <%= form.text_field :year, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :classroom_id, "Turma", style: "display: block" %>
    <%= collection_select(:subject, :classroom_id, Classroom.where(:user_id => current_user), :id, :name, {:prompt => 'Selecione'} ) %>
  </div>

  <div>
    <%= form.submit id:"submit", class: "btn btn-orange" %>
  </div>
<% end %>
